<!doctype html>
<html lang="ru"> 
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                    
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40074204?query=java%20Odessa">Java Developer (Java / Big Data Unit)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40217024?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40209767?query=java%20Odessa">Java-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40072030?query=java%20Odessa">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40024215?query=java%20Odessa">Java-разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40086842?query=java%20Odessa">Middle Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО ТОВ БЕМОБІ УКРАЇНА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/39923025?query=java%20Odessa">Аndroid (Kotlin, Java) разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО АВАДА МЕДИА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40309595?query=java%20Odessa">Java Backend Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">RE Partners Consulting LLC</td> 
     <td class="salary">от 1 200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40068060?query=java%20Odessa">Android developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Цитрус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/39389640?query=java%20Odessa">Senior/Lead C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40073811?query=java%20Odessa">Android developer (Kotlin)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Цитрус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40068229?query=java%20Odessa">Automation QA engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Цитрус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40304946?query=java%20Odessa">Senior Go Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">KEA Bank</td> 
     <td class="salary">3 000-4 000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40074502?query=java%20Odessa">Middle Android Developer (Social Shopping Platform)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40200662?query=java%20Odessa">Junior DevOps Engineer (Internal Projects)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Sigma Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40215280?query=java%20Odessa">QA Automation Engineer (Java)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40220582?query=java%20Odessa">Java Architect</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/40073564?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://grc.ua/vacancy/39359000?query=java%20Odessa">Senior / Middle Android Разработчик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">VicMan</td> 
     <td class="salary">2 000-3 000 USD</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>